.entete{
	margin: 0 0 100px 0;
}
.info{
	float: left;
	width: auto;
	height: 150px;
	font-size: 1em;
	font-family: cursive;

}
.photo{
		margin-right: 8%;
		float: right;
		width: 150px;
		height: 150px;
}	
h1{
	margin-left: 40%;
	font-family: cursive;
}
.color{
	color: purple;
	font-weight: bold;
}